.row
  .col-md-2
    .list-group
      - foreach ($participants as $participant)
        - if ($participant->id != $this->user->id)
          %a.list-group-item(href="#{$this->createUrl('message/history', ['userId' => $participant->id])}" class="#{($currentParticipant->id == $participant->id ? 'active' : '')}")
            = $participant->fullName
  .col-md-10
    - foreach($messages as $message)
      %blockquote(class="#{($message->userFrom->id == $this->user->id ? 'blockquote-reverse' : '')}")
        %p
          = $message->body
        %footer
          from
          = $message->userFrom->fullName
          = $message->created_at
